/*——————————————
  Global
———————————————*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
}

/*——————————————
  TimeLine CSS
  The Code regarding the Timeline is not mine.
  This Timeline was designed by Samet Erpik
  Source: https://codepen.io/samerpik/pen/OVKyVZ 
  However, I have made some modifications to it for my portfolio.
———————————————*/

/* Samet Erpik's Timeline code */

/* Base */

#timeline-content {
  margin-top: 50px;
  text-align: center;
}

.timeline-outer {
  width: 80%;
  margin: 0 auto;
}

/* Timeline */

.timeline {
  border-left: 8px solid #000;
  /* #000 is the timeline colour */
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(210, 190, 190, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #333;
  margin: 50px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  padding: 20px;
  list-style: none;
  text-align: left;
}

.timeline h1,
.timeline h2,
.timeline h3 {
  font-size: 1.4em;
}

.timeline .event {
  border-bottom: 1px solid rgb(160, 160, 160, 0.63);
  padding-bottom: 15px;
  margin-bottom: 20px;
  position: relative;
}

.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .event::before,
.timeline .event::after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .event::before {
  left: -177.5px;
  color: #000;
  /* date colour */
  content: attr(data-date);
  text-align: right;
  font-size: 14px;
  min-width: 120px;
}

.timeline .event::after {
  box-shadow: 0 0 0 8px #000;
  /* #000 is the timeline colour */
  left: -30px;
  background: #fff;
  /* inner circle colour */
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}

/*——————————————
Responsive Stuff
———————————————*/

@media (max-width: 1100px) {

  .timeline .event::before {
    left: 0.5px;
    top: 20px;
    min-width: 0;
    font-size: 13px;
  }

  .timeline h3 {
    font-size: 16px;
  }

  .timeline p {
    padding-top: 20px;
  }

}

@media (max-width: 768px) {

  .timeline .event::before {
    left: 0.5px;
    top: 20px;
    min-width: 0;
    font-size: 13px;
  }

  /* Changed nth-child(1), nth-child(3), nth-child(5) 
     to nth-child(odd) in order to handle greater than 5 entries - DG */
  .timeline .event:nth-child(odd)::before {
    top: 38px;
  }

  .timeline h3 {
    font-size: 16px;
  }

  .timeline p {
    padding-top: 20px;
  }

}

/*——————————————
  End of Samet Erpik's Timeline code
  ———————————————*/

/* =============================================== The Beginning of My Code =============================================== */

/* headings and logo */

h1 {
  text-transform: uppercase;
}

h1, h2 {
  letter-spacing: 4px;
  color: #252525;
  font-family: Roboto, sans-serif;
}

.menu {
  clear:both;
  /* margin: 0 10px 5em 5em; */
}

.add-menu-margins {
  margin: 5em 0;
}

/*
.logo-and-menu {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  gap: 1em;
}
*/

.logo-and-menu {
  margin-right: 135px;
}

.logo-and-menu a {
  text-decoration:none;
}

.logo {
  float:right;
  font-family: Oswald, sans-serif;
  font-size: 160%;
  margin: 0 5px;
  text-decoration:none;
}


/* navigation links */
/*DG*/
/* .menu {
  font-size: 110%;
  letter-spacing: 4px;
} */

/*
.menu ul {
  float: right;
}
*/

.menu ul {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Grey background colour */
  /* background-color: #e7e9eb; */
  /* background-color: #000;
  color: #fff; */
  background-color: #666;
}

/*
.menu li {
  float: left;
  margin-right: 60px;
  list-style-type: none;
}
*/

.menu li {
  float: left;
  list-style-type: none;
  /* margin-right: 60px; */
  /* Add a gray right border to all list items, except the last item (last-child) */
  border-right: 1px solid #1177cc;
  border-right: 1px solid #dd3300;
  padding: 0 40px;
}


.menu li:last-child {
  border-right: none;
}

.menu a {
  /* text-decoration: none;
  color: inherit; */
  display: block;
  padding: 8px;
  color: #fff;

  font-size: 15px;
  line-height: 1.5;
}

/* .menu a:hover {
  border-bottom: 1px solid #3a3a3a;
} */

/* Change the link color to #666 DG (black) on hover */
li a:hover {
  background-color: #666;
  background-color: #e7e9eb;
}

.active {
  /* border-bottom: 1px solid #3a3a3a; */
  background-color: #dd3300;
}

/* Hero image and cover text */

.hero-outer{
  height: 50%;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 4em;
}

.hero-image{
  height:400px;
  width: 100%;
  background: url("../images/essex_street_chapel.png") no-repeat center center;
  background-size: cover;
}

.cover-text {
  font-family: Oswald, sans-serif;
  font-size: 130%;
  text-transform: uppercase;
  background-color: rgb(221, 51, 0, .65); /* #dd3300 */
  position: absolute;  
  bottom: 160px;
  left: 50%;
  width: 500px;
  height: 140px;
  border-radius: 20px;
  padding: 20px 10px;
  text-align: center;
}

.cover-text h2 {
  color:#fff;
}

.prologue {
  margin: 2em auto;
  max-width: 80%;
  font-size: 20px;
  background-color: #1177cc;
  color: white;
  padding: 20px;
  border-radius: 15px;
}

.prologue span::before {
  content: '\A';
  white-space: pre;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-bottom: 20px;
}

/* Timeline's text and image flexbox */

.flex-display {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.flex-display p {
  /* Make space for the images */
  flex-shrink: 5;
  margin-top: 1em;
}

/* Added line breaks as described in 
   https://www.designcise.com/web/tutorial/how-to-add-a-line-break-to-an-html-element-using-css-only 
*/

.flex-display span::before {
  content: '\A';
  white-space: pre;
}

.image-container {
  max-width: 200px;
  max-height: 360px;
  overflow: hidden
}

.image-container img {
  width: 100%;
  object-fit: cover;
}

.block-display {
  display: block;
}

.grey-background {
  background-color: #777766;
  background-color: #666;
  background-color: #e7e9eb;
}

.footer-style {
  text-align: center;
}

/* footer */

footer {
  height: 150px;
}

.social-networks {
  text-align: center;
}

.social-networks > li {
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #3a3a3a;
}

/* gallery */

.gallery-text {
  margin: 2em auto;
  max-width: 45%;
  font-size: 20px;
  background-color: #1177cc;
  color: white;
  padding: 20px;
  border-radius: 15px;
}

.gallery-photos {
  clear: both;
  line-height: 0;
  column-count: 3;
  column-gap: 0;
}

.gallery-photos > img {
  width: 100%;
}

/* ================= MEDIA QUERIES ================= */

@media (max-width: 1100px) {

/* headings and logo */

.logo {
  letter-spacing: normal;
  font-size: 130%;
}

  /* navigation links DG */

  .menu li {
    margin-right: 30px;
  }

.menu li {
    padding: 0px 5px;
}
  
/* Hero image's cover text */

  .cover-text {
    font-size: 100%;
    left: 40%;
    width: 400px;
    height: 110px;
    padding: 10px 10px;
  }

  /* Images */

  /* Revert Image CSS style */
  .image-container {
    all: revert;
  }

  /* resize the container and centre the image */
  /* https://stackoverflow.com/questions/19026884/flexbox-center-horizontally-and-vertically#33049198 */
  .image-container {
    max-width: 200px;
    max-height: 400px;
    display: flex;
    align-items: center;
  }

}

@media (max-width: 768px) {

  /* headings and logo */

 /* 
.menu ul {
  float:none;
}

.menu li a {
    display:block;
}
*/


.menu li {
  padding: 0;
}



.menu a {
  /* text-decoration: none;
  color: inherit; */
  display: block;
  padding: 0;
  font-size: 80%;
  line-height:normal;
}


  
/* Hero image and cover text */
  /* .hero-image{
    height:270px;
  } */

  .cover-text {
    font-size: 80%;
    top: 10px;
    left: 30%;
    width: 200px;
    height: 160px;
    padding: 3px 10px;
  }

  /* Timeline's text and image flexbox */

  .flex-display {
    display: flex;
    flex-direction: column;
  }

  /* Images */

  /* Revert CSS style */
  .image-container,
  .image-container * {
    all: revert;
  }

  /* Use the full width of the screen for mobiles */
  /* Also ensure that you display images from the 'top' so that images are not decapitated! */
  .image-container img {
    max-width: 100%;
    max-height: 300px;
    object-position: top;
    object-fit: contain;
  }

  /* Show two columns of places of worship on the Gallery page */
  .gallery-photos {
    column-count: 2;
  }
  
}

@media (max-width: 600px) {

  /* headings and logo */

  .logo-and-menu {
    /* margin-right: 135px; */
    margin-right:0;
    margin-left: 55px;
}

  .menu ul {
    /* Remove the background colour */
    background-color:transparent;
  }
  
  /*
  .menu li {
    float: left;
    margin-right: 60px;
    list-style-type: none;
  }
  */
  
  .menu li {
    float: left;
    list-style-type: none;
    /* margin-right: 60px; */
    /* Add a gray right border to all list items, except the last item (last-child) */
    /* border-right: 1px solid #1177cc;
    border-right: 1px solid #dd3300; */
    padding: 0 40px;
    padding: 0;
    margin:0;
    border-right: none;
  }
  
  
  .menu li:last-child {
    border-right: none;
  }
  
  .menu a {
    /* text-decoration: none;
    color: inherit; */
    display: block;
    padding: 8px;
    color: #fff;
    color:#000;
  
    font-size: 15px;
    line-height: 1.5;
    line-height:normal;
  }
  
  .menu a {
    display: block;
    padding: 8px;
    color: #fff;
    color: #000;
    font-size: 10px;
    line-height: 1.5;
    line-height:normal;
    padding: 0 8px;
}

  /* .menu a:hover {
    border-bottom: 1px solid #3a3a3a;
  } */
  
  /* Change the link color to #666 DG (black) on hover */
  li a:hover {
    background-color: #666;
    background-color: #e7e9eb;
  }
  

}

@media (max-width: 480px) {
  /* Ensure that long titles display correctly on mobile screens by shrinking the font size */
  .timeline h3 {
    font-size: 11px;
  }


  .logo {
    /* Make the logo smaller */
    font-size: 80%; 
  }

  /* Show a single column of places of worship on the Gallery page */
  .gallery-photos {
    column-count: 1;
  }

}