/*——————————————
  Global
———————————————*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
}

/*——————————————
  TimeLine CSS
  The Code regarding the Timeline is not mine.
  This Timeline was designed by Samet Erpik
  Source: https://codepen.io/samerpik/pen/OVKyVZ 
  However, I have made some modifications to it for my portfolio.
———————————————*/

/* Samet Erpik's Timeline code */

/* Base */

#timeline-content {
  margin-top: 50px;
  text-align: center;
}

.timeline-outer {
  width: 80%;
  margin: 0 auto;
}

/* Timeline */

.timeline {
  border-left: 8px solid #000;
  /* #000 is the timeline colour */
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(210, 190, 190, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #333;
  margin: 50px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  padding: 20px;
  list-style: none;
  text-align: left;
}

.timeline h1,
.timeline h2,
.timeline h3 {
  font-size: 1.4em;
}

.timeline .event {
  border-bottom: 1px solid rgb(160, 160, 160, 0.63);
  padding-bottom: 15px;
  margin-bottom: 20px;
  position: relative;
}

.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .event::before,
.timeline .event::after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .event::before {
  left: -177.5px;
  color: #000;
  /* date colour */
  content: attr(data-date);
  text-align: right;
  font-size: 14px;
  min-width: 120px;
}

.timeline .event::after {
  box-shadow: 0 0 0 8px #000;
  /* #000 is the timeline colour */
  left: -30px;
  background: #fff;
  /* inner circle colour */
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}

/*——————————————
Responsive Stuff
———————————————*/

@media (max-width: 1100px) {
  .timeline .event::before {
    left: 0.5px;
    top: 20px;
    min-width: 0;
    font-size: 13px;
  }

  .timeline h3 {
    font-size: 16px;
  }

  .timeline p {
    padding-top: 20px;
  }

}

@media (max-width: 768px) {
  .timeline .event::before {
    left: 0.5px;
    top: 20px;
    min-width: 0;
    font-size: 13px;
  }

  .timeline .event:nth-child(1)::before,
  .timeline .event:nth-child(3)::before,
  .timeline .event:nth-child(5)::before {
    top: 38px;
  }

  .timeline h3 {
    font-size: 14px;
    /* Changed from 16px to 14px in order for titles to be displayed correctly - DG */
  }

  .timeline p {
    padding-top: 20px;
  }

}

/*——————————————
  End of Samet Erpik's Timeline code
  ———————————————*/


/* My Code */

/* headings and logo */
h1 {
  text-transform: uppercase;
}

h1, h2 {
  letter-spacing: 4px;
  color: #252525;
}

#logo {
  float: left;
}

#menu {
    margin-bottom: 3em;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-bottom: 20px;
}

.the-text-color {
  color: #000;
}

.flex-display {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.flex-display p {
  /* Make space for the images */
  flex-shrink: 5;
  margin-top: 1em;
}

/* Added line breaks as described in 
   https://www.designcise.com/web/tutorial/how-to-add-a-line-break-to-an-html-element-using-css-only 
*/
.flex-display span::before {
  content: '\A';
  white-space: pre;
}

.image-container {
  max-width: 200px;
  max-height: 200px;
  overflow: hidden
}

.image-container img {
  width: 100%;
  object-fit: cover;
}

.block-display {
  display: block;
}

@media (max-width: 1100px) {

  /* Revert Image CSS style */
  .image-container {
    all: revert;
  }

  /* resize the container and centre the image */
  /* https://stackoverflow.com/questions/19026884/flexbox-center-horizontally-and-vertically#33049198 */
  .image-container {
    max-width: 200px;
    max-height: 400px;
    display: flex;
    align-items: center;
  }

}

.footer-style {
      text-align: center;
}

@media (max-width: 768px) {

  .flex-display {
    display: flex;
    flex-direction: column;
  }

  /* Revert CSS style */
  .image-container,
  .image-container * {
    all: revert;
  }

  /* Use the full width of the screen for mobiles */
  .image-container img {
    max-width: 100%;
    max-height: 300px;
  }

}